<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Mammoth Enterprise!</h1>
    <p>Hi <%= @user.username %>,</p>
    <p>Thank you for signing up. We are thrilled to have you as a part of our community. Mammoth Enterprise is the leading land seller and we are dedicated to providing our customers with the best experience possible.</p>
    <p>Please click the link below to confirm your account and start exploring our vast collection of premium lands:</p>
  </body>
</html>





